
body {
    font-family: "Trebuchet MS";
}

p {
    font-size: 13px;
}

h1#title {
    background-color: rgb(102, 204, 255);
    padding: 20px;
}

code#lua {
    border: 1px solid gray;
    padding: 4px;
}
